---
import Layout from '../layouts/Layout.astro'
import RoundedButton from '../components/buttons/rounded.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Créateur de monde digitaux</h1>
    <RoundedButton href="" label="Continuer" />
  </main>
</Layout>

<style></style>
